Package: minikube
Version: --VERSION-----REVISION--
Section: base
Priority: optional
Architecture: --ARCH--
Recommends: --RECOMMENDS--
Maintainer: Thomas Strömberg <t+minikube@stromberg.org>
Description: Minikube
 minikube is a tool that makes it easy to run Kubernetes locally.
 minikube runs a single-node Kubernetes cluster inside a VM on your
 laptop for users looking to try out Kubernetes or develop with it 
 day-to-day.
