# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
.cache
_obj
_test

#Don't ignore arch linux .SRCINFO
!.SRCINFO

# Architecture specific extensions/prefixes
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

/deploy/kicbase/auto-pause
/out
/_gopath

#iso version file
deploy/iso/minikube-iso/board/coreos/minikube/rootfs-overlay/etc/VERSION

/pkg/minikube/assets/assets.go-e
/pkg/minikube/assets/assets.go
/pkg/minikube/translate/translations.go
/pkg/minikube/translate/translations.go-e
/minikube

.DS_Store

/.idea

/.vscode

test/integration/testdata/minikube-linux-amd64-latest-stable

# hugo
/public
/site/resources
/_gen

