---
# linted with yamllint
os: linux
language: go
go:
  - 1.15
env:
  global:
    - GOPROXY=https://proxy.golang.org
matrix:
  include:
    - language: go
      name: Code Lint
      go: 1.15
      env:
        - TESTSUITE=lintall
      before_install:
        - sudo apt-get install -y libvirt-dev
      script: make test

    - language: go
      name: Unit Test
      go: 1.15
      env:
        - TESTSUITE=unittest
      before_install:
        - sudo apt-get install -y libvirt-dev
      script: make test

    - language: go
      name: Build
      go: 1.15
      script: make
after_success:
  - bash <(curl -s https://codecov.io/bash)
notifications:
  webhooks:
    urls:
      - https://www.travisbuddy.com?only=failed,errored
    on_success: never  # don't comment on successful builds.
    on_failure: always
    on_cancel: always
    on_error: always
