apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: falco
  namespace: kube-system
  labels:
    app: falco
spec:
  selector:
    matchLabels:
      app: falco
  template:
    metadata:
      labels:
        app: falco
    spec:
      hostPID: true
      containers:
        - name: falco
          image: falcosecurity/falco:latest
          securityContext:
            privileged: true
          args:
            - /usr/bin/falco
          volumeMounts:
            - name: proc-fs
              mountPath: /host/proc
              readOnly: true
            - name: docker-socket
              mountPath: /var/run/docker.sock
              readOnly: true
      volumes:
        - name: proc-fs
          hostPath:
            path: /proc
        - name: docker-socket
          hostPath:
            path: /var/run/docker.sock
