Package: docker-machine-driver-kvm2
Version: --VERSION--
Section: base
Priority: optional
Architecture: --ARCH--
Depends: libvirt0 (>= 1.3.1)
Recommends: minikube
Maintainer: Thomas Strömberg <t+minikube@stromberg.org>
Description: Machine driver for KVM
 minikube uses Docker Machine to manage the Kubernetes VM so it benefits
 from the driver plugin architecture that Docker Machine uses to provide
 a consistent way to manage various VM providers.
