[Unit]
Description=Hyper-V Key Value Pair Daemon
Documentation=https://technet.microsoft.com/en-us/library/dn798287(v=ws.11).aspx
ConditionVirtualization=microsoft


[Service]
Type=simple
Restart=always
RestartSec=3

ExecStart=/usr/sbin/hv_kvp_daemon -n

[Install]
WantedBy=multi-user.target
