apiVersion: v1
kind: Service
metadata:
  name: bind
  namespace: kube-system
  labels:
    app.kubernetes.io/name: bind
    app.kubernetes.io/part-of: kube-system
    kubernetes.io/minikube-addons: external-dns
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: bind
  ports:
    - name: udp-dns
      port: 53
      protocol: UDP
      targetPort: 53
    - name: tcp-dns
      port: 53
      protocol: TCP
      targetPort: 53
