set default="0"
set timeout="0"

menuentry "Buildroot" {
  # The console depends on the driver:
  # qemu: console=ttyAMA0
  # vfkit,krunkit: console=hvc0
  linux /boot/bzimage console=ttyAMA0 console=hvc0
  initrd /boot/initrd # rootfs
}
