[Unit]
Description=Auto Pause Service

[Service]
Type=simple
ExecStart=/bin/auto-pause --container-runtime={{.ContainerRuntime}} --interval={{.AutoPauseInterval}}
Restart=always

[Install]
WantedBy=multi-user.target
