pkgbase = docker-machine-driver-kvm2
	pkgdesc = Minikube-maintained KVM driver for docker-machine
	pkgver = $PKG_VERSION
	pkgrel = 1
	url = https://github.com/kubernetes/minikube
	arch = x86_64
	license = Apache-2.0
	depends = docker-machine
	depends = libvirt
	depends = ebtables
	depends = dnsmasq
	optdepends = docker: to manage the containers in the machine
	source = https://github.com/kubernetes/minikube/releases/download/v$PKG_VERSION/docker-machine-driver-kvm2
	sha256sums = $MINIKUBE_DRIVER_KVM_SHA256

pkgname = docker-machine-driver-kvm2

