[Unit]
Description=VirtualBox Guest Service
ConditionVirtualization=oracle

[Service]
ExecStartPre=-/usr/sbin/modprobe vboxguest
ExecStartPre=-/usr/sbin/modprobe vboxsf

# Normally, VirtualBox only syncs every 20 minutes. This syncs on start, and
# forces an immediate sync if VM time is over 5 seconds off.
ExecStart=/usr/sbin/VBoxService -f --disable-automount --timesync-set-start --timesync-set-threshold 5000

[Install]
WantedBy=multi-user.target
