---
title: "{{.Version}}"
linkTitle: "{{.Version}}"
weight: -{{.Order}}
---
The versions of tools within the KIC Base Image for version {{.Version}} are seen here.

|Tool|Version|
|---|---|
{{.ToolCells}}
