[Unit]
Description=Hyper-V FCOPY Daemon
Documentation=https://docs.microsoft.com/en-us/virtualization/hyper-v-on-windows/reference/integration-services#hyper-v-guest-service-interface
ConditionVirtualization=microsoft

[Service]
Type=simple
Restart=always
RestartSec=3
ExecStart=/usr/sbin/hv_fcopy_daemon -n

[Install]
WantedBy=multi-user.target
