pkgbase = minikube
	pkgdesc = Minikube is a tool that makes it easy to run Kubernetes locally
	pkgver = 0.12.2
	pkgrel = 1
	url = https://github.com/kubernetes/minikube
	arch = x86_64
	license = Apache
	depends = net-tools
	optdepends = virtualbox
	optdepends = docker-machine-kvm
	optdepends = kubectl-bin: to manage the cluster
	source = minikube_0.12.2::https://storage.googleapis.com/minikube/releases/v0.12.2/minikube-linux-amd64
	sha512sums = 35444b1d867f07cca40337d09e0a8f58313c6ddf85214d84d087ca9fdf803ebe6a23e69b98776e08e40916feb62fe4a052c4afeb7dde3ffc71e03d0233bb7409

pkgname = minikube

