# Copyright 2018 The Kubernetes Authors All rights reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

apiVersion: v1
kind: Pod
metadata:
  name: gvisor
  namespace: kube-system
  labels:
    addonmanager.kubernetes.io/mode: Reconcile
    kubernetes.io/minikube-addons: gvisor
    gcp-auth-skip-secret: "true"
spec:
  hostPID: true
  containers:
    - name: gvisor
      image: {{default .Registries.GvisorAddon .ImageRepository}}{{.Images.GvisorAddon}}
      securityContext:
        privileged: true
      volumeMounts:
      - mountPath: /node/
        name: node-root
      - mountPath: /node/run
        name: node-run
      - mountPath: /tmp/gvisor
        name: node-tmp
      env:
        - name: SYSTEMD_IGNORE_CHROOT
          value: "yes"
      imagePullPolicy: IfNotPresent
  volumes:
  - name: node-root
    hostPath:
      path: /
  - name: node-run
    hostPath:
      path: /run
  - name: node-tmp
    hostPath:
      path: /tmp/gvisor
  restartPolicy: Always
