apiVersion: v1
kind: Service
metadata:
  name: metrics-server
  namespace: kube-system
  labels:
    kubernetes.io/name: "Metrics-server"
    kubernetes.io/minikube-addons: metrics-server
    kubernetes.io/minikube-addons-endpoint: metrics-server
    addonmanager.kubernetes.io/mode: Reconcile
spec:
  selector:
    k8s-app: metrics-server
  ports:
  - port: 443
    protocol: TCP
    targetPort: 443
