name: Lint
on:
  workflow_dispatch:
  pull_request:
  push:
    branches: [ master ]

# Limit one unit test job running per PR/Branch
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  # For example, if you push multiple commits to a pull request in quick succession, only the latest workflow run will continue
  cancel-in-progress: true
env:
  GOPROXY: https://proxy.golang.org
  GO_VERSION: '1.25.5'
permissions:
  contents: read
jobs:
    Lint:
        runs-on: ubuntu-22.04
        steps:
        - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5
          with:
            go-version: ${{env.GO_VERSION}}
            cache: true      
        - name: Download Dependencies
          run: go mod download
        # needed because pkg/drivers/kvm/domain.go:28:2:
        - name: Install libvirt (Linux)
          if: runner.os == 'Linux'
          run: |
              sudo apt-get update              
              sudo apt-get install -y libvirt-dev
        - name: Lint
          timeout-minutes: 8
          env:
            TESTSUITE: lint
          run: make test
          continue-on-error: false
    Boilerplate:
        runs-on: ubuntu-22.04
        steps:
        - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5
          with:
            go-version: ${{env.GO_VERSION}}
            cache: true  
        - name: Boilerplate check
          timeout-minutes: 2
          env:
            TESTSUITE: boilerplate
          run: make test
          continue-on-error: false
    Housekeeping:
       runs-on: ubuntu-22.04
       steps:
        - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5
          with:
            go-version: ${{env.GO_VERSION}}
            cache: true
        - name: Install goimports
          run: go install golang.org/x/tools/cmd/goimports@latest
        - name: Verify go mod tidy
          run: |
            make gomodtidy
            if ! git diff-index --quiet HEAD; then
              git --no-pager diff
              echo "::notice::Please run 'make gomodtidy' and commit the changes"
              exit 1
            fi
        - name: Verify make fmt
          run: |
            make fmt
            if ! git diff-index --quiet HEAD; then
              git --no-pager diff
              echo "::notice::Please run 'make fmt' and commit the changes"
              exit 1
            fi
        - name: Verify make imports
          run: |
            make imports
            if ! git diff-index --quiet HEAD; then
              git --no-pager diff
              echo "::notice::Please run 'make imports' and commit the changes"
              exit 1
            fi
        - name: Install markdownlint
          run: npm install -g markdownlint-cli
        - name: Verify make mdlint
          run: make mdlint

