# Boot Smoke Test only tests Bare VM (start,stop,delete) and not any minikube/kubernetes functionality.
name: Boot Smoke Test
on:
  push:
    branches: [ master ]
  pull_request:
  workflow_dispatch:
env:
  GOPROXY: https://proxy.golang.org
  permissions:
  contents: read
jobs:
  minikube-vm-boot:
    name: Boot Smoke Test
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - driver: qemu
            os: macos-13
            network_flag: --network socket_vmnet
          - driver: docker
            os: ubuntu-24.04
            network_flag: ""
    steps:
      - name: Info Block (macos)
        if: contains(matrix.os, 'macos')
        shell: bash
        run: |
          uname -a
          sysctl -n hw.memsize
          echo "$(sysctl -n hw.memsize) / 1024 / 1024 / 1024" | bc
          sysctl -n hw.ncpu
          sysctl -n machdep.cpu.brand_string
          sysctl hw.model
          sysctl -n kern.hv_vmm_present
          sysctl -n kern.hv_support
          system_profiler SPHardwareDataType
          sw_vers
          ifconfig
      - name: Info Block (linux)
        if: contains(matrix.os, 'ubuntu')
        shell: bash
        run: |
            uname -a
            grep MemTotal /proc/meminfo
            awk '/MemTotal/ {printf "%.2f\n", $2 / 1024 / 1024}' /proc/meminfo
            nproc
            grep 'model name' /proc/cpuinfo | head -n1
            # System model (requires `dmidecode`, may need sudo)
            sudo dmidecode -s system-product-name
            systemd-detect-virt
            # Check if KVM is available (can show virtualization support)
            egrep -c '(vmx|svm)' /proc/cpuinfo
            # Detailed hardware info (like `system_profiler`)
            sudo lshw -short
            cat /etc/os-release
            ip addr show
            ifconfig
            docker version
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5
        with:
          go-version-file: go.mod
          cache: true
      - name: Download Golang Dependencies
        run: go mod download
      - name: Build Binaries
        run: make
      - name: Ensure bootpd is enabled
        if: contains(matrix.os, 'macos')
        shell: bash
        run: |
          set -x
          fw=/usr/libexec/ApplicationFirewall/socketfilterfw
          sudo $fw --remove /usr/libexec/bootpd
          sudo $fw --add /usr/libexec/bootpd
          sudo $fw --unblock /usr/libexec/bootpd
      - name: brew update
        if: contains(matrix.os, 'macos')
        run:
          brew update
      - name: Install qemu and socket_vmnet (macos)
        if: contains(matrix.os, 'macos') && matrix.driver == 'qemu'
        run: |
          brew install qemu socket_vmnet
          HOMEBREW=$(which brew) && sudo ${HOMEBREW} services start socket_vmnet
      - name: Minikube Download only (iso/image)
        run:
          ./out/minikube start --download-only --driver=${{ matrix.driver }}
      - name: Start minikube (1st boot)
        run: ./out/minikube start --driver=${{ matrix.driver }} ${{ matrix.network_flag }} --memory 4gb --no-kubernetes --alsologtostderr
      - name: Stop minikube
        run: ./out/minikube stop
      - name: Start minikube again (2nd boot)
        run: ./out/minikube start --alsologtostderr
      - name: delete minikube
        run: ./out/minikube delete --alsologtostderr
