# Boot Smoke Test only tests Bare VM (start,stop,delete) and not any minikube/kubernetes functionality.
name: Smoke Test
on:
  push:
    branches: [ master ]
    paths:
      - "go.mod"
      - "**.go"
      - "Makefile"
      - "!hack/**"
      - "!site/**"
      - "!**.md"
      - "!**.json"
  pull_request:
    paths:
      - "go.mod"
      - "**.go"
      - "Makefile"
      - ".github/workflows/smoke-test.yml"
      - "!hack/**"
      - "!site/**"
      - "!**.md"
      - "!**.json"
  workflow_dispatch:
env:
  GOPROXY: https://proxy.golang.org
  LOG_ARGS: --v=10 --alsologtostderr

permissions:
  contents: read
# Limit one unit test job running per PR/Branch
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  # For example, if you push multiple commits to a pull request in quick succession, only the latest workflow run will continue
  cancel-in-progress: true
jobs:
  minikube-vm-boot:
    name: Boot
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - driver: qemu
            os: macos-15-intel
            network_flag: --network socket_vmnet
          - driver: vfkit
            os: macos-15-intel
            network_flag: --network vmnet-shared
          - driver: docker
            os: ubuntu-24.04
            network_flag: ""
          - driver: docker
            os: ubuntu-24.04-arm
            network_flag: ""
    steps:
      - id: info-block
        uses: medyagh/info-block@main
      - name: Load avg and free memory
        run: |
          echo "memory_gb=${{ steps.info-block.outputs.memory_gb }}"
          echo "cpu_cores=${{ steps.info-block.outputs.cpu_cores }}"
          echo "load_average=${{ steps.info-block.outputs.load_average }}"
          echo "free_mem=${{ steps.info-block.outputs.free_mem }}"
          load_avg=${{ steps.info-block.outputs.load_average }}
          cores=${{ steps.info-block.outputs.cpu_cores }}
          if (( $(echo "$load_avg / $cores > 2" | bc -l) )); then
            echo "Load average per core is above 2; stopping job early."
            exit 1
          fi
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c
        with:
          go-version-file: go.mod
          cache: true
      - name: Download Golang Dependencies
        run: go mod download
      - name: Build Binaries
        run: make
      - name: Update brew (macos)
        if: contains(matrix.os, 'macos')
        run: brew update
      - name: Install tools (macos)
        if: contains(matrix.os, 'macos')
        run: brew install tree
      - name: Install vfkit and vmnet-helper (macos)
        if: matrix.driver == 'vfkit'
        run: |
          brew install vfkit
          curl -fsSL https://github.com/minikube-machine/vmnet-helper/releases/latest/download/install.sh | sudo VMNET_INTERACTIVE=0 bash
      - name: Install qemu and socket_vmnet (macos)
        if: contains(matrix.os, 'macos') && matrix.driver == 'qemu'
        run: |
          brew install qemu socket_vmnet
          HOMEBREW=$(which brew) && sudo ${HOMEBREW} services start socket_vmnet
      - name: Clean Mac (macos)
        if: contains(matrix.os, 'macos')
        run: |
          sudo killall socketfilterfw bootpd
          sudo mdutil -a -i off
          sudo pkill -f "mds_stores|mds|mdworker_shared|mdworker|spotlightknowledged|Spotlight|photoanalysisd|cloudphotod|mediaanalysisd|analyticsd|mediaanalysisd|mdwrite|corespotlightd|geod|weatherd"
      - name: Start minikube (1st boot)
        run: |
          ./out/minikube start \
              --no-kubernetes \
              --cpus 2 \
              --memory 2gb \
              --driver ${{ matrix.driver }} \
              --wait-timeout=15m \
              --force-systemd \
              ${{ matrix.network_flag }} \
              ${{ env.LOG_ARGS }}
      - name: Inspect minikube
        if: always()
        run: |
          tree -h ~/.minikube
          machine="$HOME/.minikube/machines/minikube"
          machine_logs=$(find "$machine" -name "*.log")
          minikube_logs="$HOME/.minikube/logs/lastStart.txt"
          for f in $machine_logs $minikube_logs /var/db/dhcpd_leases; do
            echo "==> $f <=="
            head -n 1000 "$f" || true
          done
      - name: Stop minikube
        run: ./out/minikube stop ${{ env.LOG_ARGS }}
      - name: Start minikube again (2nd boot)
        run: ./out/minikube start ${{ env.LOG_ARGS }}
      - name: Delete minikube
        run: ./out/minikube delete ${{ env.LOG_ARGS }}
