name: Unit Test
on:
  workflow_dispatch:
  push:
    branches: [ master ]
    paths:
      - .github/workflows/unit-test.yml
      - .gitattributes
      - go.mod
      - Makefile
      - '**/*.go'
      - '**/testdata/**/*.yaml'
      - '**/testdata/**/*.yml'
      - '**/testdata/**/*.json'
      - '!hack/**'
      - '!site/**'
      - '!**/*.md'
      - '!**/*.json'
  pull_request:
    paths:
      - .github/workflows/unit-test.yml
      - .gitattributes
      - go.mod
      - Makefile
      - '**/*.go'
      - '**/testdata/**/*.yaml'
      - '**/testdata/**/*.yml'
      - '**/testdata/**/*.json'
      - '!hack/**'
      - '!site/**'
      - '!**/*.md'
      - '!**/*.json'
# Limit one unit test job running per PR/Branch
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  # For example, if you push multiple commits to a pull request in quick succession, only the latest workflow run will continue
  cancel-in-progress: true
env:
  GOPROXY: https://proxy.golang.org
  GO_VERSION: '1.25.5'
permissions:
  contents: read
jobs:
    unit_test:
        strategy:
            fail-fast: false
            matrix:
                os: [ubuntu-22.04, macos-15, windows-2022]
        runs-on: ${{ matrix.os }}
        steps:
        - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5
          with:
            go-version: ${{env.GO_VERSION}}
            cache: true
        - name: Download Dependencies
          run: go mod download
        # needed because pkg/drivers/kvm/domain.go:28:2:
        - name: Install libvirt (Linux)
          if: runner.os == 'Linux'
          run: |
              sudo apt-get update
              sudo apt-get install -y libvirt-dev
        - name: Install make (Windows)
          if: runner.os == 'Windows'
          run: choco install make -y
        # TODO: add gopogh reports for unit tests too
        - name: unit test
          timeout-minutes: 15
          env:
            TESTSUITE: unittest
          run: make test
          continue-on-error: false
