name: "update-kubernetes-versions-list"
on:
  workflow_dispatch:
  schedule:
    # every Monday at around midnight pacific/7 am UTC
    - cron: "0 6 * * 1"
env:
  GOPROXY: https://proxy.golang.org
  GO_VERSION: '1.23.4'
permissions:
  contents: read

jobs:
  update-kubernetes-versions-list:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - uses: actions/setup-go@f111f3307d8850f501ac008e886eec1fd1932a34
        with:
          go-version: ${{env.GO_VERSION}}
      - name: Bump Kubernetes versions list
        id: bumpKubernetesVersionsList
        run: |
          make update-kubernetes-versions-list
          c=$(git status --porcelain)
          # The following is to support multiline with GITHUB_OUTPUT, see https://docs.github.com/en/actions/using-workflows/workflow-commands-for-github-actions#multiline-strings
          echo "changes<<EOF" >> "$GITHUB_OUTPUT"
          echo "$c" >> "$GITHUB_OUTPUT"
          echo "EOF" >> "$GITHUB_OUTPUT"
      - name: Create PR
        if: ${{ steps.bumpKubernetesVersionsList.outputs.changes != '' }}
        uses: peter-evans/create-pull-request@67ccf781d68cd99b580ae25a5c18a1cc84ffff1f
        with:
          token: ${{ secrets.MINIKUBE_BOT_PAT }}
          commit-message: update Kubernetes versions list
          committer: minikube-bot <minikube-bot@google.com>
          author: minikube-bot <minikube-bot@google.com>
          branch: auto_update_kubernetes_versions_list
          push-to-fork: minikube-bot/minikube
          base: master
          delete-branch: true
          title: 'Update Kubernetes versions list'
          body: |
            This PR was auto-generated by `make update-kubernetes-versions-list` using [update-kubernetes-versions-list.yml](https://github.com/kubernetes/minikube/tree/master/.github/workflows/update-kubernetes-versions-list.yml) CI Workflow.
            The purpose of this ValidKubernetesVersions in the code is, to check a kuberentes version is valid without checking Github on first try
            and if the version is not valid, it will check Github for the latest valid versions. this will save some unesccary network calls.
